.view60{
  height: 60vh;
}

/* 用于sticky */
.h-70h{
  max-height: 70vh;
}

.display-none{
  display: none;
}

.left-screen{
  left: 100vw;
}

#mask{
  transition: all .2s linear;
  opacity: .4;
}

#mask.invisible{
  opacity: 0;
}

#setting-panel{
  transition: all .4s ease-in-out;
}

body{
  overflow: hidden;
}